:root {
    --background: #fbfafa;
    --primary-color:#ff0000;
    --secondary-color: #21c997;
}

body {
    background-color: var(--background);
    color: var(--secondary-color);

    max-width: 960px;
    text-align: center;

    font-family: Work Sans, sans-serif;
    font-size: 16px;
    line-height: 1.5;

    margin: 64px auto 64px auto;
}

h1 {
    margin: 0 0 30px 0;
}

span {
    margin: 0 8px 0 8px;
}

circle {
    fill: var(--secondary-color);
    stroke: var(--background);
    stroke-width: 3px;
}

path {
    stroke-width: 3px;
}

line {
    stroke-width: 1px;
    stroke-dasharray: 2 8;
}

text.x-axis, text.y-axis {
    font-size: 20px;
    fill: var(--secondary-color);
    text-anchor: middle;
    dominant-baseline: middle;
}

.custom-select {
    position: relative;
    font-family: Arial;
    border-color: var(--secondary-color);
    padding: 10px 10px 10px 10px;
    border-radius: 16px;
}

.logo img {
    position: fixed;
    top: -50px;
    left: -50px;
    width: 300px;
}

g.city rect {
    fill: var(--secondary-color);
    opacity: 0;
}

g.city text {
    fill: var(--background);
    text-anchor: middle;
    font-size: 14px;
    opacity: 0;
}

g.city:hover rect, g.city:hover text {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
}

@media (max-width: 1000px) {
    body {
        margin: 20px auto 20px auto;
    }

}

@media (max-width: 640px) {
    .custom-select {
        padding: 4px 4px 4px 4px;
    }

    .logo img {
        width: 200px;
    }
}